/* h1 {
    background-color: teal;
    color: coral;
    font-style: italic;
    text-align: center;
} */

 h2 {
    font-family: 'Open Sans', sans-serif;


}

header {
    background-color: #f5dbd4;
    color: #524a4a;
    padding:  30px 20px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

h1 {
    margin: 0;
}

nav {
    background-color: #00A6B3;
    color: white;
    padding: 20px;
}

#profile {
    margin: 0px;

}
a {
    margin: 0px 20px;
}

body {
    text-align: center;
    margin: 0; 
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px 0px;
}

footer {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;

}

.button {
    background-color: #c4c1c0;
    border: none;
    color: rgb(53, 51, 51);
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}

.button:hover {
    background-color: #00A6B3;
}